* {
    box-sizing: border-box;
   
}
#myVideo{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1000;
    
    }
body {
    
    font-family: 'Abril Fatface', cursive;
    overflow: auto;
    color: #777;
    
}
h1, h2, h3, h4, h5, h6 {
    -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
    font-family: 'Abril Fatface', cursive;
}

.links:hover {
 color: darkblue;

}

header {
    opacity: 0%;
}
header h1 {
    background: darkblue;
    color: white;
    display: inline-block;
    padding: 30px;
    font-size: 30px;
    margin-bottom: 0;
    -webkit-text-stroke: .1px black;
    border: 2px solid white;
    border-top: none;
}
nav {
    width: 400px;
    float: right;
    margin-top: 40px;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

nav ul li {
    display: inline;

}
nav a:hover {
    text-decoration: none;
    color: darkblue;
    -webkit-text-stroke: .1px black;
    font-family: 'Abril Fatface', cursive;
}
nav a {
    color: white;
   padding: 5px 15px;
    border-right: 2px solid white;
    text-decoration: none;
    font-family: 'Abril Fatface', cursive;
}

nav ul li:last-child a {
    border-right: none;
    padding-right: none;

}

.bio {
    font-family: 'Abril Fatface', cursive;
    color: white;
    padding: 25px;
    -webkit-text-stroke: .1px black;
    overflow: auto; 
}
.bio h2 {
    font-size: 40px;
}
.fade{
    opacity: 0;
}

p {
    font-family: 'Abril Fatface', cursive;
    font-size: 20px;
    line-height: 22px;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
       letter-spacing: .2px
   
}

form label {
    font-family: 'Abril Fatface', cursive;
font-size: 18px;
display: block;
font-size: 25px;
text-shadow:
   3px 3px 0 #000,
 -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;

}

form input, form textarea {
   
    font-family: 'Abril Fatface', cursive;
    width: 100%;
    display: block;
    margin: 5px 0 20px 0;
    border: 2px solid white;
    padding: 10px;
    font-size: 16px;
    color: black;
}

form textarea {
    font-family: 'Abril Fatface', cursive;
    height: 300px;

}

form button {
    background: darkblue;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
    border: 2px solid #ccc;
    font-size: 25px;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}
footer {
    background-image: linear-gradient(to bottom, rgba(0, 0, 139, 0), darkblue);
    font-family: 'Abril Fatface', cursive;
    border-bottom: 2px solid white;
    border-left: 2px solid linear-gradient(to bottom, rgba(0, 0, 139, 0), white);
    border-right: 2px solid linear-gradient(to bottom, rgba(0, 0, 139, 0), white);
    color: #ccc;
    text-align: center;
    padding: 30px;
    margin-top: 10%;
}


h2 {
    font-size: 30px;
    font-family: 'Abril Fatface', cursive;
    padding: 15px 0;
    margin-bottom: 20px;
    border-bottom: 2px solid #ccc;
}

.me {
    float: left;
    margin: 0 15px 15px 0;
    border: 2px double white;
    width: 200px;
    height: 400px;
    display: block;
    text-shadow: 2px 2px lightblue;
}

.port-item {

border: 2px double darkblue;
position: relative;
margin-bottom: 20px;
float: left;
width: 45%;
height: 100px;
padding: 128px 0 15px 0;

}

.port-item:nth-last-of-type(even) {
    float: right;
}

.port-item h4 {
    background: darkblue;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 15px;
    width: 100%;
}

.port-itemMP h4 {
    background: darkblue;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: absolute;
    bottom: 15px;
    width: 100%;
}
.port-itemMP:nth-last-of-type(even) {
    float: right;
}

.port-itemMP {

    border: 2px double darkblue;
    position: relative;
    margin-bottom: 20px;
    float: left;
    width: 45%;
    height: 100px;
    padding: 128px 0 15px 0;
    
}
.port-itemVideo {

    border: 2px double darkblue;
    position: relative;
    margin-bottom: 20px;
    float: left;
    width: 45%;
    height: 100px;
    padding: 128px 0 15px 0;
    
}
.port-itemVideo:nth-last-of-type(even) {
    float: right;
}
.video {
    margin-bottom: 200px;
}
    
.clearfix {
    display: block;
    clear: both;

}
.wrap {
   
    font-family: 'Abril Fatface', cursive;
    width: 960px;
    margin: 0 auto;
   
}

#port1 {
    background: url(../images/apex.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    #port2 {
    background: url(../images/sly.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    #port3 {
    background-image: url(../images/office.PNG);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    #port4 {
    background-image: url(../images/gif.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
    
    
    #port5 {
        background-image: url(../images/hafh.PNG);
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    #port6 {
        background-image: url(../images/hotdrop.PNG);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #port7 {
        background-image: url(../images/node.PNG);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #port8 {
        background-image: url(../images/sqlnode.PNG);
        background-size: cover;
        background-repeat: no-repeat;
    }
    #port9 {
        background-image: url(../images/sal.PNG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #port10 {
        background-image: url(../images/friendfinder.PNG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #port11 {
        background-image: url(../images/burger.PNG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #port12 {
        background-image: url(../images/wordpress.PNG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    #port13 {
        background-image: url(../images/duckery.PNG);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .resume {
        margin-bottom: 5%;
    }

    #resume {
        border: 2px double darkblue;
    }
    .contactlinks {
       top: 90px;
       right: 0;
        position: absolute;
        display: inline;
        padding: 3px;
        float: right;
       
    }
    
    .linkedcon {
        width: 150px;
        height: 200px;
        border: 2px solid #ccc;
        margin-top: 30px;
    }
.contactIcons{

width: 33%;
height: 100%;
float: left;
padding: 2%;

}
.contactIconsPics{
width: 100%;
height: 250px;
}
.Icons {
    margin-top: 10%; 
}
.links {
    text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    -webkit-text-stroke: .1px black;
}

    @media screen and (max-width: 640px) {
    .wrap {
        width: 100%;
        
    }
    .nav {
       width: 100%;
    }

    .port-item {
        width: 100%;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    .bio {
        border: none;
    }
    .me{
        width: 100px;
        height: 200px;
    }

    .contactlinks {
        text-align: center;
        width: 100%;
        height: 30%;
        margin-top: 250%;
    }
    .resume {
        width: 100%;
    }
    nav a {
        color: white;
        text-shadow:
    3px 3px 0 #000,
  -1px -1px 0 #000,  
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;
    -webkit-text-stroke: .1px black;
    }
    .contactIconsPics{
        width: 100%;
        height: 175px;
        }
    }

    @media screen and  (max-width: 768px) {
        .wrap {
            width: 100%;
            
        }
        .port-item {
            width: 100%;
        }
        nav {
           width: 100%;
           text-align: center;
           
        }
    
        header h1 {
            width: 100%;
        }
        .bio {
            border-top: none;
        }

        .linkedcon {
            position: relative;
            width: 10%;
            height: 30%;
            margin-top: 102%;
            
        }
        .contactIconsPics{
            height: 150px;
        }
        .contactlinks {
            text-align: center;
        }
        .conIcon{
            font-size: 20px;
        }
    }

    @media screen and  (max-width: 980px) {
        .wrap {
            width: 100%;
        }
        .bio {
            margin-top: 20%;
        }
        .port-item {
            width: 100%;
            height: 100%;
        }

        footer {
            width: 100%;
            margin-top: 45%;
        }

        .linkedcon {
            position: relative;
            width: 20%;
            height: 30%;
            margin-top: 100%;
            letter-spacing: 2%;
            
        }
    
        .contactlinks {
            text-align: center;
            
        }
    }